<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ "/assets/leaflet_dist/screen.css" | relative_url }}" />

<link rel="stylesheet" href="{{ "/assets/leaflet_dist/MarkerCluster.css" | relative_url }}" />
<link rel="stylesheet" href="{{ "/assets/leaflet_dist/MarkerCluster.Default.css" | relative_url }}" />
<script src="{{ "/assets/leaflet_dist/leaflet.markercluster-src.js" | relative_url }}"></script>
<script src="{{ "/assets/org-locations.js" | relative_url }}"></script>